---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mylar
  namespace: organizers
spec:
  releaseName: &app mylar
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  uninstall:
    keepHistory: false
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      mylar:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/linuxserver/mylar3
              tag: version-v0.7.6@sha256:0dbc84954e0b3d13cf42f5b1f42e845cb0d211d9d627642e5b9101a49cb6c0b0
            env:
              TZ: ${TIMEZONE}
              UID: 1000
              GID: 1000
              MYLAR__INSTANCE_NAME: Mylar
              MYLAR__PORT: &port  8090
            resources:
              requests:
                cpu: 15m
                memory: 700M
              limits:
                memory: 1200M
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8090
    ingress:
      app:
        className: "internal"
        annotations:
          nginx.ingress.kubernetes.io/configuration-snippet: |-
           proxy_set_header Accept-Encoding "";
           sub_filter '</head>' '<link rel="stylesheet" type="text/css" href="https://theme-park.${SECRET_DOMAIN}/css/base/mylar3/hotline.css"></head>';
            sub_filter_once on;
          hajimari.io/enable: "true"
        hosts:
          - host: "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: mylar-config-v1
      media:
        type: nfs
        server: "${NFS_SERVER}"
        path: "${NFS_MEDIA}"
      downloads:
        type: nfs
        server: "${NFS_SERVER}"
        path: "${NFS_DOWNLOAD}"
