---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ombi
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: "true"
spec:
  path: ./kubernetes/apps/media/ombi/app
  prune: true
  dependsOn:
    - name: rook-ceph-cluster
    - name: onepassword-connect
    - name: volsync
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: ombi
      namespace: media
  interval: 30m
  retryInterval: 1m
  timeout: 3m
