---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: readarr-audio
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: "true"
spec:
  dependsOn:
    - name: onepassword-connect
    - name: pod-gateway
    - name: rook-ceph-cluster
    - name: volsync
  path: ./kubernetes/apps/organizers/readarr-audio/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: readarr-audio
      namespace: organizers
  interval: 30m
  retryInterval: 1m
  timeout: 3m
