---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tdarr
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: tdarr
  path: "./kubernetes/apps/media/tdarr/app"
  prune: true
  dependsOn:
    - name: rook-ceph-cluster
    - name: onepassword-connect
    - name: volsync
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: false
  interval: 10m
  retryInterval: 1m
  timeout: 5m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tdarr-node
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: tdarr-node
  path: "./kubernetes/apps/media/tdarr/node"
  prune: true
  dependsOn:
    - name: rook-ceph-cluster
    - name: tdarr
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  interval: 10m
  retryInterval: 1m
  timeout: 5m
